@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;

  overflow: hidden;
}

.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-bottom: 147px;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}
.slider-item__info-suptitle {
  margin-bottom: 5px;
}
.slider-item__info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 48px;
}

.slider-item__info-suptext {
  margin-bottom: 8px;
}

.slider-item__info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrow_left {
  right: 125px;
}

.slider-dots {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;

  .slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}

.dots-box {
  width: 200px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 142%;
  }

  &__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 119%;
    text-align: right;
    opacity: 0.5;
    text-transform: capitalize;
  }

  border-top: 4px solid #fff;
  padding-top: 6px;
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  border-right: 1px solid rgba(#fff, 0.25);
  height: 100vh;
  text-align: center;
}
.header__title {
  max-width: 467px;
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;

  opacity: 7%;
  text-align: left;
  top: -42px;
  left: -14px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.menu {
  margin-top: 40px;
}
.menu__list {
  a {
    span {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 117%;
      letter-spacing: 0.25em;
      padding-top: 6px;
      margin-bottom: 27px;
      text-transform: capitalize;
    }
  }
}

.header__search {
  img {
    width: 24px;
    height: 24px;
    margin-bottom: 20px;
  }
}

.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 89%;
  span {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.09em;
    margin-bottom: 30px;
    display: block;
    padding-top: 15px;
  }
}

.header__location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.09em;
  position: relative;
  padding-left: 19px;
  text-transform: capitalize;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 12px;
    background-image: url(../images/marker.svg);
    left: 0;
    top: 0;
  }
}

.header__map {
  position: absolute;
  top: 0px;
  left: 685px;
  z-index: 3;
}

.header__arrows {
  position: absolute;
  left: 210px;
  bottom: 40px;
  z-index: 3;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animway 2s infinite 6s;
}
@keyframes animway {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  background-image: url(../images/surfBg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 245px;
}
.surf__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -45px;
}

.surf-slider {
  padding-top: 110px;
  .slider-arrows {
    top: 57px;
    opacity: 0.25;
  }
  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }
}
.slick-current {
  .surf-box__inner-btn {
    display: block;
  }
  .surf-box__inner {
    background: rgba(#1c2121, 0.3);
  }
}
.surf-box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.surf-box__inner {
  min-height: 750px;
  background: rgba(#1c2121, 0.85);
  position: relative;
  top: 0;
  bottom: 0;
}
.surf-box__inner-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 90%;
  padding: 72px 0 0 40px;
  width: 140px;
}
.surf-box__inner-location {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.44em;

  transform: rotate(-90deg);
  position: absolute;
  left: -80px;
  bottom: 280px;
  white-space: nowrap;
  span {
    font-weight: 100;
  }
}
.surf-box__inner-btn {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  display: none;
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../images/world-map\ .png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  .slick-list {
    min-height: 635px;
  }
  .slick-current {
    .slider-dots__content {
      display: block;
      width: 285px;
      padding: 28px 32px 0 32px;

    }
  }
}
.slider-dots__content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.slider-dotsmap {
  position: relative;
}

.slider-dotsmap--1 {
  top: 335px;
  left: 0;
  .slider-dots__content {
    transform: translateX(0);
    &::before {
      left: 0;
    }
  }
}
.slider-dotsmap--2 {
  top: 295px;
  left: 11%;
  .slider-dots__circle {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/poi.png);
      width: 14px;
      height: 17px;
      background-size: cover;
      right: -25px;
      top: -25px;
    }
  }
}
.slider-dotsmap--3 {
  top: 315px;
  left: 22%;
}
.slider-dotsmap--4 {
  top: 505px;
  left: -35%;
}
.slider-dotsmap--5 {
  top: 220px;
  left: -32%;
}
.slider-dotsmap--6 {
  top: 555px;
  left: -77%;
}
.slider-dotsmap--7 {
  top: 385px;
  left: -52%;
}
.slider-dotsmap--8 {
  top: 510px;
  left: -5%;
}

.slider-dots__circle {
  width: 24px;
  height: 24px;
  background-color: $green;
  border-radius: 50%;
}
.slider-dots__content {
  display: none;
  background-color: rgba(#0f1010, .7);
  border-radius: 6px;

  position: absolute;
  bottom: 35px;
  transform: translateX(-50%);
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 20px solid $green;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      bottom: -20px;
      left: 50%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
}

// .slider-dots__content-head {}
.slider-dots__content-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #4af6cd;
    bottom: 0;
    left: 0;
  }
}
.slider-dots__content-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}
.slider-dots__content-link {
  padding-top: 4px;
}
.slider-dots__content-item {
  text-align: center;

  img {
    margin-bottom: 7px;
  }
}

.slider-dots__content-number {
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
}
.slider-dots__content-name {
  font-family: var(--font-family);
font-weight: 300;
font-size: 10px;
line-height: 12px;
}



.travel {
  background-image: url(../images/cocktail.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.container {}
.title {
}
.travel__slider {
}
.travel__slider-item {
}
.travel-slider {
}
.travel-slider__head {
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 780px;
}
.travel-slider__subtitle {
  text-align: right;
  padding: 132px 80px 0 0;
}
.subtitle {
}
.headline-left {
}
.subtitle__head {
}
.travel-slider__descr {
  padding: 160px 0 0 132px;
  min-height: 320px;
  background-repeat: no-repeat;
  background-position: right center;
  margin-top: -250px;
}
.travel-slider__descr img {
  padding-left: 24px;
}
.travel-slider__info {
}
.travel-slider__info-item {
}
.travel-slider__info-subtitle {
}
.travel-slider__info-title {
}
.travel-slider__btn {
  text-align: center;
}
.btn {
}

@import "media";
